greenlet==3.1.0
mysql-connector-python==8.2.0
mysqlclient==2.2.0
numpy==1.26.1
pandas==2.2.2
protobuf==4.21.12
PyMySQL==1.1.0
pytz==2024.2
pywin32==305.1
PyYAML==6.0.2
SQLAlchemy==2.0.34
tqdm==4.66.1
tzdata==2024.1
